<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PROVE -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="dsm.PROVE.presentation.PROVEModelWizardID"
            name="%_UI_PROVEModelWizard_label"
            class="dsm.PROVE.presentation.PROVEModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PROVEModelFile.gif">
         <description>%_UI_PROVEModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PROVE -->
      <editor
            id="dsm.PROVE.presentation.PROVEEditorID"
            name="%_UI_PROVEEditor_label"
            icon="icons/full/obj16/PROVEModelFile.gif"
            extensions="prove"
            class="dsm.PROVE.presentation.PROVEEditor"
            contributorClass="dsm.PROVE.presentation.PROVEActionBarContributor">
      </editor>
   </extension>

</plugin>
